* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    --dark-grey: #252422;
    --red: #D81C23;
    --blue: #4FA8C2;
    --brown: #D97441;
    --light-brown: #D29849;
    --white: #EDF5E1;
    font-size: 62.5%;
    min-width: 37.5rem;
}

body {
    background: var(--dark-grey);
    height: 100vh;
    width: 100vw;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

button {
    background: var(--red);
    color: var(--white);
    border: none;
    transition: .2s;
    width: 50%;
    box-sizing: border-box;
    display: block;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    font-size: 1.7rem;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.2);
}

input {
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    display: block;
    width: 100%;
    padding: 1rem;
}

input,
button {
    border-radius: 1.5rem;
    outline: var(--dark-grey);
}

#title {
    top: 20rem;
    font-size: 5rem;
    color: var(--white);
    margin: 2rem 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container__form {
    background: var(--blue);
    font-size: 1.6rem;
    padding: 3rem 5rem;
    text-align: center;
    width: min(50rem, 65vw);
}

.result {
    font-weight: bold;
}